

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --large-font: 25px;
  --mid-font: 20px;
  --sm-font: 18px;
}

html{
  scroll-behavior: smooth;
  font-size: 17px;

}

body{
 
  
  font-family:   Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #080705;
  color: antiquewhite;
  min-height: 100vh;

}


.container{
padding: 10px 40px;
width: 70%;
height: 600px;
background: #ad633986;
box-shadow: 0px 0px 5px rgb(220, 212, 212);
border-radius: 10px;
border: 1px solid ;
}


.header{
 font-size: var(--mid-font);
  color: hsla(0, 14%, 73%, 0.967);
  margin-bottom: 10px;
 
}


.play{
  font-size: var(--sm-font);
  color: #cfc9c7;;
  float: left;
  margin-right: 15px;
  transform: translateY(30px);
}

.btns{
display: inline-block;
  background: #4e433d;
 border-radius: 5px;
 margin-left: 20px;
}
button{
  border: none;
  outline: none;
  padding: 3px;
  font-size: 3.8rem;
  background: #c45c20;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #cfc3bc;
  margin: 10px;
  transition: all 0.5s;
}
button:hover{
  box-shadow: 1px 1px 15px #cfc3bc;
  background: #14aa44fa;
}


.display  h1{
  font-size: var(--large-font);
  color: #cfc9c7;
  margin-top: 10px;
  margin-bottom: 10px;
}




.score{
 color: #cfc9c7;
 font-size: var(--mid-font);
  font-weight: bold;
}


.result{
  color:  hsl(140, 13%, 87%);
  font-size: var(--large-font);
  margin-bottom: 15px;
}

.win {
  color: rgb(5, 132, 5);
  font-weight: bold;
}

.lose {
  color: rgb(188, 29, 29);
  font-weight: bold;
}

.tie {
  color: white;
  font-style: italic;
}



.new-game{
  margin-top: 15px;
 padding: 10px 50px;
}

.new-game button{
  margin-left: -20px;
  color: #ae9485;
  outline: none;
  border: none;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgb(241, 229, 229);
  cursor: pointer;
  padding: 15px;
  transition: all 0.5s;
}

.new-game button:hover{
  background: #cfc3bc;
  color: #433d39;
}

@media only  screen and  (max-width: 700px) {
  :root{
    --large-font: 20px;
    --mid-font:18px;
    --sm-font: 14px;
  }
  body{
    display: block;
  }
  .container{
     width: 100%;
    height:100vh;
  }

.header{
  font-size: 13px;
  margin-bottom: 20px;
}

.play{
  float:none;
  transform: translateY(0);
  margin: 10px 30px;
}
.btns{
  margin-left: 5px;
}
button{
margin: 5px;
font-size: 2.8rem;
} 
.new-game button{
  padding: 10px;
  font-size: var(--large-font);
}

};


  
