

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  font-size: 17px;

}

body{
 
  
  font-family:   Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f86007;
  color: antiquewhite;
  min-height: 100vh;

}


.container{
padding: 10px;


width: 70%;
height: 600px;
background: #947b6d86;
}


.header{
  font-size: 1.3rem;
  color: hsla(0, 14%, 73%, 0.967);
  margin-bottom: 10px;
}


.play{
  color: #cfc9c7;;
  float: left;
  margin-right: 15px;
  transform: translateY(30px);
}

.btns{
display: inline-block;
  background: #4e433d;
 border-radius: 5px;
  
}
button{
  border: none;
  outline: none;
  padding: 3px;
  font-size: 3.8rem;
  background: #734124;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #cfc3bc;
  margin: 10px;
  transition: all 0.5s;
}
button:hover{
  box-shadow: 1px 1px 15px #cfc3bc;
  background: #37261d;
}


.display  h1{
  font-size: 24px;
  color: #cfc9c7;
  margin-top: 10px;
  margin-bottom: 10px;
}




.score{
 color: #cfc9c7;
 font-size: 20px;
  font-weight: bold;
}


.result{
  color:  hsl(140, 13%, 87%);
  font-size: 25px;
}

.win {
  color: green;
  font-weight: bold;
}

.lose {
  color: rgba(170, 28, 28, 0.925);
  font-weight: bold;
}

.tie {
  color: white;
  font-style: italic;
}



.new-game{
  margin-top: 10px;
  text-align: center;
}

.new-game button{
  color: #ae9485;
  outline: none;
  border: none;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgb(241, 229, 229);
  cursor: pointer;
  padding: 15px;
}